@import '../../variables.scss';

.upload-button {
    display: flex;
    justify-content: center;

    button {
        border: $border-style;
        font-size: 1.1em;
        background-color: $button-color;
        padding: 6px 34px 6px 34px;
        flex-basis: 100%;
    }
}