.summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 36px;

    h1.docs-count {
        display: flex;
        justify-content: center;
        align-content: flex-end; 
        margin: 0px;
        font-weight: normal;
    }

    h3.docs-size {
        display: flex;
        justify-content: center;
        align-content: flex-end; 
        margin: 6px 0px;
        font-weight: normal;
    }
}


@media only screen and (max-width: 768px) {
    .summary-row {
        flex-direction: column;
        margin-bottom: 6px;
    }
} 