.docs-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -0.5% 0 -0.5%;
}

.no-docs-available {
    margin: 24px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .docs-details {
        margin: 0 -12px 0 -12px;
        margin-top: 12px;
    }
} 