@import '../../../../variables.scss';

.doc-detail {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    height: 100%;

    margin: 0.5%;
    padding: 1%;
    border: $border-style;

    h4, p {
        font-weight: normal;
        display: flex;
    }

    .doc-detail-title {
        font-size: 24px;
        margin: 24px 0 24px 0;
    }

    .doc-detail-lower-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        margin-bottom: 12px;

        button {
            padding: 0 18px;
            background-color: $button-color
        }
    }
}

@media only screen and (max-width: 768px) {
    .doc-detail {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
    
        margin: 6px 12px 6px 12px;
        padding: 18px;
        
        .doc-detail-title {
            margin: 6px 0 12px 0;
        }
        .doc-detail-lower-row {
            margin-bottom: 12px;
        }
    }
} 