@import './font.scss';

.app {
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: 0 auto 0 auto;

    display: flex;
    flex-flow: column wrap;

    .top-row {
        margin-top: 24px;
        min-height: 24px;
        margin-bottom: 24px;

        display: flex;
        flex-flow: row wrap;
        width: 100%;
        flex-shrink: 1;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .app {
        .top-row {
            display: flex;
            flex-flow: column-reverse wrap;
            width: 100%;
            margin-top: 12px;
        }
    }
} 



