@import '../../variables.scss';

.searchbox {
    display: flex;

    input {
        background-color: $search-backgrund-color;
        border: $border-style;
        border-style: solid;
        padding: 0 6px 0 6px;
        width: 30em;
        flex-basis: 100%;

        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .searchbox {
        display: flex;
        margin-top: 12px;
        min-height: 35px;

        input {
            background-color: $search-backgrund-color;
            border: $border-style;
            border-style: solid;
            width: 100%;
        }
    }
} 